{% extends 'dashboardbase.html' %}

        {% block title %}New BP{% endblock %}

        {% block content %}
            {% load static %}


    <div class="container-fluid">



	<div class="container">
	  <div class="row">
		<div class="col-md-12">
         <div class="card">
            <div class="container" style="margin-top: 20px">
                   <form method="post">
                        {% csrf_token %}
			

			<label class="h4 title text-uppercase flex-center mt-5 mb-2">add organization</label>
			<br><br>



				<div class="form-row">
				     <div class="col-md-4 offset-md-2">
							<label for="id_type" class="control-label">Type of Organization</label>
                           <div class="md-form form-group">
                                

						        {{ new_organization_form.type }}

                           </div>
                                </div>

					 <div class="col-md-4 pt-4">
                           <div class="md-form form-group">
                                <label for="id_name" class="control-label">Name of Organization</label>

						        {{ new_organization_form.name }}

                           </div>
                                </div>	
					

				</div>
				
				
				<div class="form-row">
				     <div class="col-md-4">
                           <div class="md-form form-group">
                                <label for="id_address" class="control-label">Ghana Post Address</label>

						        {{ new_organization_form.address }}

                           </div>
                                </div>

					 <div class="col-md-4">
                           <div class="md-form form-group">
                                <label for="id_reps_contact" class="control-label">Contact Number</label>

						        {{ new_organization_form.reps_contact }}

                           </div>
                                </div>	
								
					<div class="col-md-4">
                           <div class="md-form form-group">
                                <label for="id_reps_email" class="control-label">Contact Email</label>

						        {{ new_organization_form.reps_email }}

                           </div>
                                </div>				
					

				</div>
				
				
				 <div class="col-md-3 offset-md-5 mb-4">

                        <button class="btn btn-rounded btn-yellow modalbtn" type="submit">Add Organization</button>
                </div>


				



               



                       </form>
            </div>
                </div></div></div>

	
    </div>
    </div>
{% endblock %}
