{% extends 'dashboardbase.html' %}

        {% block title %}New user{% endblock %}

        {% block content %}
            {% load static %}


    <div class="container-fluid">



	<div class="container">

 	<div class="row my-5">
		<div class="col-xs-12 col-sm-12 card" style="">
			  <div class="container">
{#              {% for field in new_user_form %}#}
{#   <div class="container">#}
{##}
{##}
{#    <div class="card aqua-gradient">#}
{#       <p class="danger-color" title="">{{ field.errors }}</p>#}
{##}
{#    </div>#}
{#    </div>#}
{#{% endfor %}#}

			    <form name="demoform" method="post" role="form" >{% csrf_token %}


			       <div class="row pic-row">

                   </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <div class="chip modalbtn lighten-4"><b>#</b>
    {{ user.unique_id }}

</div>
                        <div class="chip">
        <a href="{% url 'core:user-detail' pk=user.id %}" class="gray-text">
    <img src="{{ user.picture.url }}" alt="Contact Person"> {{ user.first_name }} {{ user.surname }}
        </a>
</div>
                    </div>
                    <div class="col-md-4">

</div>
                </div>
			 <br><br>
<label class="h5 title text-center text-uppercase py-2">lab tests</label><br>


			       <div class="row">
                        <div class="col-md-4">
                            <label class="h6 text-color text-uppercase">Blood Group :</label>
                            {{ new_medical.blood_group }}
                        </div>

                    <div class="col-md-4">
                        <label class="h6 text-color text-uppercase">sickling status :</label>
                        {{ new_medical.sickling_status }}
                    </div>
					  <!--Sickling Status -->
				    <div class="col-md-4">
                        <label class="h6 text-color text-uppercase">g6pd :</label>
                        {{ new_medical.g6pd }}
				    </div>

				   <!-- G6PD -->
                    </div>
          <br><br>
 <label class="h5 title text-center text-uppercase py-2">Biostatistics</label><br>
<br><br>
			<div class="form-row">
				   <div class="col-sm-4 py-2">
				     <div class="md-form form-group">
				    <label for="id_height" class="control-label">Height (CM)</label>
				    {{ new_medical.height }}
			        </div>
				  </div>
				 <div class="col-sm-4 py-2">
				     <div class="md-form form-group">
				     <label for="id_weight" class="control-label">Weight (KG) </label>
				     {{ new_medical.weight }}
			         </div>
				 </div>
				 <div class="col-sm-4 py-2">
				     <p>BMI : <span><input type="text" class="form-control" id="bmi" name="bmi" placeholder="00.00" disabled>
</span></p>
				 </div>
			 </div>

				  <div class="form-row">
				   <div class="col-sm-4 py-2">
				     <div class="md-form form-group">
				    <label for="id_systolic" class="control-label">Blood pressure (Systolic) </label>
				    {{ new_medical.systolic }}
			        </div>
				  </div>

                      				   <div class="col-sm-4 py-2">
				     <div class="md-form form-group">
				    <label for="id_diastolic" class="control-label">Blood pressure (Diastolic)</label>
				    {{ new_medical.diastolic }}
			        </div>
				  </div>


                      				   <div class="col-sm-4 py-2">
<p>BP : <span>

				    <input type="text" class="form-control" id="ybp" name="ybp" placeholder="" disabled>
</span></p>

				  </div>

			 </div>
<br><br>
				  <label class="h5 title text-uppercase">Medical History</label>
          <br><br>
				  <div class="form-row">
				    <div class="col-sm-4">


                       <label class="h6 maritalstyle ">Diabetes Mellitus </label>
						{% for sc in new_medical.diabetes_mellitus %}
                            <div class="form-check">

                                {{ sc.tag }}
                            <label for="{{ sc.id_for_label }}"> {{ sc.choice_label }}</label>
                            </div>
                            {% endfor %}

			        </div>

                  				    <div class="col-sm-4">


                       <label class="h6 maritalstyle ">Systematic Hypertension</label>
						{% for sc in new_medical.systematic_hypertension %}
                            <div class="form-check">

                                {{ sc.tag }}
                            <label for="{{ sc.id_for_label }}"> {{ sc.choice_label }}</label>
                            </div>
                            {% endfor %}

			        </div>






                  				    <div class="col-sm-4">


                       <label class="h6 maritalstyle ">Epilepsy</label>
						{% for sc in new_medical.epilepsy %}
                            <div class="form-check">

                                {{ sc.tag }}
                            <label for="{{ sc.id_for_label }}"> {{ sc.choice_label }}</label>
                            </div>
                            {% endfor %}

			        </div>

                  				    <div class="col-sm-4">


                       <label class="h6 maritalstyle ">Uterine Fibroid</label>
						{% for sc in new_medical.uterine_fibroid %}
                            <div class="form-check">

                                {{ sc.tag }}
                            <label for="{{ sc.id_for_label }}"> {{ sc.choice_label }}</label>
                            </div>
                            {% endfor %}

			        </div>

                  		    <div class="col-sm-4">


                       <label class="h6 maritalstyle ">Peptic Ulcer Disease</label>
						{% for sc in new_medical.peptic_ulcer_disease %}
                            <div class="form-check">

                                {{ sc.tag }}
                            <label for="{{ sc.id_for_label }}"> {{ sc.choice_label }}</label>
                            </div>
                            {% endfor %}

			        </div>
                  </div>

<div class="row">

                  		    <div class="col-md-10" >
                                <div class="row" id="extracon">
                                <div class="col-md-4">
                           <div class="md-form form-group">
                                <label for="id_other_condition" class="control-label">Other Condition</label>

						        {{ new_medical.other_condition }}

                           </div>
                                </div>
                                </div>
                            </div>
    <div class="col-md-2">

        <button id="add-condition" class="btn aqua-gradient btn-rounded">Add Condition</button>
    </div>



			        </div>
<br><br>
                       <label class="h5 title text-uppercase ">Current Medication</label>

              <div class="row">

                  		    <div class="col-md-10" id="extramed">
                                <div class="row">
                                <div class="col-md-4">
                           <div class="md-form form-group">
                                <label for="id_medicine" class="control-label">Medicine Name</label>

						        {{ new_medical.medicine }}

                           </div>
                                </div>

                                        <div class="col-md-4">
                           <div class="md-form form-group">
                                <label for="id_dosage" class="control-label">Dosage</label>

						        {{ new_medical.dosage }}

                           </div>
                                </div>

                                        <div class="col-md-4">
                           <div class="md-form form-group">
                                <label for="id_refill_date" class="control-label">Refill Date</label>

						        {{ new_medical.refill_date }}

                           </div>
                                </div>

                                </div>
                            </div>
    <div class="col-md-2">

        <button id="add-med" class="btn aqua-gradient btn-rounded">Add Medication</button>
    </div>



			        </div>

                <br>
                <br>

                       <label class="h5 title text-uppercase ">Surgeries</label>

              <div class="row">

                  		    <div class="col-md-10" id="extrasur">
                                <div class="row">
                                <div class="col-md-3">
                           <div class="md-form form-group">
                                <label for="id_surgery_name" class="control-label">Surgery Name</label>

						        {{ new_medical.surgery_name }}

                           </div>
                                </div>



                                        <div class="col-md-3">
                           <div class="md-form form-group">
                                <label for="id_surgery_date" class="control-label"> Date</label>

						        {{ new_medical.surgery_date }}

                           </div>
                                </div>
								
								<div class="col-md-3">
                           <div class="md-form form-group">
                                <label for="id_sugery_doctor" class="control-label"> Doctor's Name</label>

						        {{ new_medical.surgery_doctor }}

                           </div>
                                </div>
								
								<div class="col-md-3">
                           <div class="md-form form-group">
                                <label for="id_surgery_hospital" class="control-label"> Hospital Name</label>

						        {{ new_medical.surgery_hospital }}

                           </div>
                                </div>

                                </div>
                            </div>
    <div class="col-md-2">

        <button id="add-sur" class="btn aqua-gradient btn-rounded">Add surgery</button>
    </div>



			        </div>





                       <label class="h5 title text-uppercase ">Allergies</label>

              <div class="row">

                  		    <div class="col-md-10" id="extraale">
                                <div class="row">
                                <div class="col-md-6">
                           <div class="md-form form-group">
                                <label for="id_allergy_name" class="control-label">Allergy Name</label>

						        {{ new_medical.allergy_name }}

                           </div>
                                </div>



                                        <div class="col-md-4">
                           <div class="md-form form-group">
                                <label for="id_allergy_type" class="control-label"> </label>

						        {{ new_medical.allergy_type }}

                           </div>
                                </div>

                                </div>



                            </div>
    <div class="col-md-2">

        <button id="add-ale" class="btn aqua-gradient btn-rounded" style="visibility: hidden">Add allergy</button>
    </div>



			        </div>

<br><br>
				  <label class="h5 title text-uppercase">Social History</label>
          <br><br>
				  <div class="form-row">
				    <div class="col-sm-4">


                       <label class="h6 maritalstyle ">Alcohol </label>
						{% for sc in new_medical.alcohol %}
                            <div class="form-check">

                                {{ sc.tag }}
                            <label for="{{ sc.id_for_label }}"> {{ sc.choice_label }}</label>
                            </div>
                            {% endfor %}

			        </div>

                  				    <div class="col-sm-4">


                       <label class="h6 maritalstyle ">Smoking</label>
						{% for sc in new_medical.smoking %}
                            <div class="form-check">

                                {{ sc.tag }}
                            <label for="{{ sc.id_for_label }}"> {{ sc.choice_label }}</label>
                            </div>
                            {% endfor %}

			        </div>
		</div>
		
		
			
			
                    <hr>
             <div class="row">
			   <div class="col-sm-3 offset-sm-3" style="margin-bottom: 20px;">
			     <button type="submit" class="btn btn-rounded young-passion-gradient btn-lg waves-effect waves-light" id="button"><i class="fa fa-heart mr-2"></i>Add Record</button>
		       </div>
				<div class="col-sm-3" style="margin-bottom: 20px;">
					<button type="reset" class="btn btn-rounded rare-wind-gradient btn-lg waves-effect waves-light" id="button">Reset Form</button><br>
				</div>
			 </div>


			   </form>


              </div>
        </div>
	</div>
</div>


    </div>

{% endblock %}