{% extends 'dashboardbase.html' %}

        {% block title %}Dashboard{% endblock %}

        {% block content %}
            {% load static %}



      <div class="container-fluid mt-5">

            <!-- Heading -->
			
			<div class="row mb-4" style="margin-bottom: 20px">
			  <div class="col-md-12">
				<div class="card card-statistics">
                <div class="card-body">
				<div id="chart-1">{{ outputchart|safe }}</div>
                </div>
				</div>
			 </div>
			</div>
			
			

			<!-- Grid Row -->
				<div class="row mb-5">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="fa fa-heartbeat fa-4x text-danger icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right text-uppercase">AA</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-bold text-right mb-0">{{ aa }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0 font-small font-weight-bold text-capitalize">
                    <i class="fa fa-area-chart mr-1" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="fa fa-heartbeat fa-4x text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right text-uppercase">AS</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-bold text-right mb-0">{{ ass }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0 font-small font-weight-bold text-capitalize">
                    <i class="fa fa-users mr-1" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
            </div>
                </div>
          <div class="row mb-5">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="fa fa-heartbeat fa-4x text-info icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right text-uppercase">SS</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-bold text-right mb-0">{{ ss }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0 font-small font-weight-bold text-capitalize">
                    <i class="fa fa-info mr-1" aria-hidden="true"></i> </p>
                </div>
              </div>
            </div>


            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="fa fa-heartbeat fa-4x text-info icon-lg"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right text-uppercase">SC</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-bold text-right mb-0">{{ sc }}</h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0 font-small font-weight-bold text-capitalize">
                    <i class="fa fa-info mr-1" aria-hidden="true"></i>  </p>
                </div>
              </div>
            </div>

                </div>
			<!-- /Grid Row -->

			<!-- Grid Row -->

			<!-- /Grid Row -->

{#			<!-- Chart -->#}
{#          <div class="row wow fadeIn mb-5">#}
{#		     <div class="col-lg-6 grid-margin stretch-card">#}
{#              <div class="card">#}
{#                <div class="card-body">#}
{#                  <h4 class="card-title text-capitalize">members with common conditions</h4>#}
{#                  <canvas id="doughnutChart" style="height:300px;width:500px;"></canvas>#}
{#				  <p class="text-muted mt-3 mb-0 font-small font-weight-bold text-capitalize">#}
{#                    <i class="fa fa-info mr-1" aria-hidden="true"></i> there are members with more than one condition#}
{#                  </p>#}
{#			    </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
		  <!-- /Chart -->




			<!-- Grid row -->



            <!-- /Grid row -->
{##}
{#            <!--Grid row-->#}
{#            <div class="row wow fadeIn">#}
{##}
{#                <!--Grid column-->#}
{#                <div class="col-md-12 mb-4">#}
{##}
{#                    <!--Card-->#}
{#                    <div class="card">#}
{##}
{#                        <!-- Card header -->#}
{#                        <div class="card-header">Our Location</div>#}
{##}
{#                        <!--Card content-->#}
{#                        <div class="card-body">#}
{##}
{#                            <!--Google map-->#}
{#                            <div id="map-container" class="z-depth-1" style="height: 500px"></div>#}
{##}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <!--/.Card-->#}
{##}
{#                </div>#}
{#                <!--Grid column-->#}
{##}
{##}
{##}
{#            </div>#}
{#            <!--Grid row-->#}

        </div>


{% endblock %}