
{% extends 'base.html' %}

        {% block title %}Home{% endblock %}

        {% block content %}
            {% load static %}


  <section class="view intro-2" style="background:#ff4400; background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask">
                <div class="container" >
	<div class="row" style="margin-top:150px;">
       <div class="col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-xs-12">

	     <form action="{% url 'core:signin' %}" method="post" role="form">
             {% csrf_token %}
    <section class="form-elegant">

    <!--Form without header-->
    <div class="card mycard-color">

        <div class="card-body">

            <!--Header-->
            <div class="text-center">
                <h3 class="dark-grey-text mb-5"><strong class="orange-text"> LogIn</strong></h3>
            </div>

            <!--Body-->
            <div class="md-form orange-text">
			    <i class="fa fa-user prefix"></i>
                 <label for="id_username">Your Username</label>
                {{ login_form.username }}

            </div>
              <br>
            <div class="md-form pb-3 orange-text">
			     <i class="fa fa-lock prefix"></i>
                <label for="id_password ">Your Password</label>
                {{ login_form.password }}

                 <p class="justify-content-end d-flex"><a href="#" class="orange-text font-small ml-1">Forgot Password?</a></p>
            </div>

            <div class="text-center dark-grey-text mb-3">
                <button type="submit" name="signinbutton" class="btn mybtn-color btn-block btn-rounded z-depth-1a">Log In</button>
            </div>


        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
{#            <p class="font-small grey-text d-flex justify-content-end">Not An Admin? <a href="SarpMedicSignUp.html" class="orange-text ml-1">Add Admin</a></p>#}
        </div>

    </div>
           </section>

	      </form>
	   </div>
 	 </div><!--row ends-->
</div>

                     </div>

	</section>
</header>
    {% endblock %}
