{% extends 'dashboardbase.html' %}

        {% block title %}New user{% endblock %}

        {% block content %}
            {% load static %}


    <div class="container-fluid">


<div class="card card-cascade narrower">

    <!--Card image-->
    <div class="view gradient-card-header heavy-rain-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

        <div>
             <a href="{% url 'core:new-user' %}"><button type="button"  data-toggle="tooltip" data-placement="top" title="Add new user" class="btn btn-outline-white btn-rounded btn-sm px-2">
                 <i class="fa fa-plus mt-0"></i></button></a>
        </div>

        <h4 class="white-text mx-3">Users</h4>

        <div>
           <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-info-circle mt-0"></i></button>
        </div>

    </div>
    <!--/Card image-->

    <div class="px-4">

        <div class="table-wrapper">
            <!--Table-->
            <table id="factorytable" class="table table-hover mb-0">

                <!--Table head-->
                <thead>

                            <tr>

                                <th class="th-lg">ID </th>
                                <th class="th-lg"> Name</th>
                                 <th class="th-lg">Email</th>
                                <th class="th-lg">Mobile</th>

                                <th class="th-lg"></th>
                            </tr>

                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                     {% for user in user_list %}

                        <tr>

                                <td>{{ user.unique_id }}</td>
                                <td>{{ user.first_name }} {{ user.other_name }} {{ user.surname }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.mobile }}</td>
                                <td>
                                    <div class="btn-group">
                                    <a href="{% url 'core:user-detail' pk=user.id %}"><button type="button" class="btn btn-rounded modalbtn">View</button></a>


                                    <button type="button" class="btn modalbtn dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                </button>
<div class="dropdown-menu">
	
	<a class="dropdown-item" href="{% url 'core:user-allergy' pk=user.id %}">Allergy</a>
	<a class="dropdown-item" href="{% url 'core:user-bloodpressure' pk=user.id %}">Blood Pressure</a>
	<a class="dropdown-item" href="{% url 'core:user-bmi' pk=user.id %}">BMI</a>
    <a class="dropdown-item" href="{% url 'core:user-condition' pk=user.id %}">Conditions</a>
	<a class="dropdown-item" href="{% url 'core:user-fastbloodsugar' pk=user.id %}">Fasting Blood Sugar</a>
	<a class="dropdown-item" href="{% url 'core:user-fullbloodcount' pk=user.id %}">Full Blood Count</a>
	<a class="dropdown-item" href="{% url 'core:user-lipidprofile' pk=user.id %}">Lipid Profile</a>
	<a class="dropdown-item" href="{% url 'core:user-liverfunction' pk=user.id %}">Liver Function</a>
    <a class="dropdown-item" href="{% url 'core:user-medication' pk=user.id %}">Medication</a>
	<a class="dropdown-item" href="{% url 'core:male-prostatetest' pk=user.id %}">Prostate Specific</a>
	<a class="dropdown-item" href="{% url 'core:user-renalfunction' pk=user.id %}">Renal Function</a>
	<a class="dropdown-item" href="{% url 'core:user-surgery' pk=user.id %}">Surgery</a>
	<a class="dropdown-item" href="{% url 'core:user-urinetest' pk=user.id %}">Urine Test</a>
     
     
	 
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'core:user-account-medication' pk=user.id %}">Reset Account</a>
    <a class="dropdown-item" href="#">Deactivate Account</a>
  </div>
                                </div>
                                </td>

                        </tr>
                     {% endfor %}
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

        <hr class="my-0">


    </div>
</div>





    </div>
    {% endblock %}