{% extends 'dashboardbase.html' %}

        {% block title %}New BP{% endblock %}

        {% block content %}
            {% load static %}


    <div class="container-fluid">



	<div class="container">
         <div class="card">
            <div class="container" style="margin-top: 20px">
                   <form method="post">
                        {% csrf_token %}
			<div class="row">
                <div class="col-md-6 offset-md-4">
   <div class="chip modalbtn lighten-4"><b>#</b>
    {{ user.unique_id }}
   </div>
  <div class="chip">
     <a href="{% url 'core:user-detail' pk=user.id %}" class="gray-text">
	 <img src="{{ user.picture.url }}" alt="Contact Person"> {{ user.first_name }} {{ user.surname }}
	 </a>
 </div>
                </div>
			</div>
            <div class="form-row">
                 <div class="col-md-3">

                    <div class="md-form form-group">
						   							<label for="id_name" class="control-label">Surgery Name</label>
						   							{{ usersurgeryform.name }}
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="md-form form-group">
						   							<label for="id_date" class="control-label">Date</label>
						   							{{ usersurgeryform.date }}
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="md-form form-group">
						   							<label for="id_doctor" class="control-label">Doctor's Name</label>
						   							{{ usersurgeryform.doctor }}
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="md-form form-group">
						   							<label for="id_diastolic" class="control-label">Hospital Name</label>
						   							{{ usersurgeryform.hospital }}
                    </div>

                </div>



             </div>
			 <div class="form-row">
			  
			  
			  <div class="col-md-8 offset-md-2 py-2">
                           <div class="md-form shadow-textarea form-group">
							<i class="fa fa-pencil prefix pr-3"></i>
                                <label for="id_docs_comments" class="control-label pl-3">Comments On Surgery</label>

						        {{ usersurgeryform.docs_comments }}

                           </div>
                        </div>
			  
			  </div>
			 
			 
			 
			 <div class="col-md-2 offset-md-5">

                        <button class="btn btn-rounded modalbtn" type="submit">Add Surgery</button>
                </div>
                       </form>
            </div>
                </div>

      <div class="card" style="margin-top: 20px">

             <div class="container" style="margin-top: 20px">

            <div class="row">
                <div class="col-md-12">



                     <div class="table-wrapper">
            <!--Table-->
            <table id="factorytable" class="table table-hover table-responsive-sm table-sm btn-table m-0">

                <!--Table head-->
                <thead>

                            <tr>

                                <th class="th-lg">Name</th>
								<th class="th-lg">Date</th>
                                <th class="th-lg">Doctor</th>
                                <th class="th-lg">Hospital</th>
                                <th class="th-lg"></th>
                            </tr>

                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                     {% for surgery in surgerydone %}

                        <tr>

                                <td>{{ surgery.name }}</td>
                                 <td>{{ surgery.date }}</td>
                                <td>{{ surgery.doctor }}</td>
                                < <td>
                                <div class="btn-group">
                                    <a href=""><i class="fa fa-eye ml-2  text-info" data-toggle="tooltip" title="View Details"></i></a>
                                </div>
								<div class="btn-group">
                                    <a href=""><i class="fa fa-pencil ml-2 text-success" data-toggle="tooltip" title="Edit"></i></a>
                                </div>
								<div class="btn-group">
                                    <a href=""><i class="fa fa-trash ml-2  text-danger" data-toggle="tooltip" title="Delete"></i></a>
                                </div>
								</td>

                        </tr>
                     {% endfor %}
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>



                </div>
            </div>
               <div class="row">
                <div class="col-md-12">

                </div>
            </div>
             </div>
        </div>
    </div>
    </div>
{% endblock %}
