{% extends 'dashboardbase.html' %}

        {% block title %}Transfer Patient{% endblock %}

        {% block content %}
            {% load static %}


    <div class="container-fluid">



	<div class="container">
	  <div class="row">
		<div class="col-md-12">
         <div class="card">
            <div class="container" style="margin-top: 20px">
                   <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
			<div class="row">
                <div class="col-md-6 offset-md-4">
   <div class="chip modalbtn lighten-4"><b>#</b>
    {{ user.unique_id }}
   </div>
  <div class="chip">
     <a href="{% url 'core:user-detail' pk=user.id %}" class="gray-text">
	 <img src="{{ user.picture.url }}" alt="Contact Person"> {{ user.first_name }} {{ user.surname }}
	 </a>
 </div>
                </div>
			</div>
            <label class="h4 title text-uppercase flex-center mt-5 mb-2">Transfer Patient</label>
			<br><br>

				<div class="row">
				     <div class="col-md-4 offset-md-1 ">
<label>Select Partner</label>
                           <div class="md-form form-group">

						        {{ patienttransferform.partner }}

                           </div>
                                </div>
								
					  

						 <div class="col-md-4">
 <label></label>
        <div class="md-form shadow-textarea form-group">

							<i class="fa fa-pencil prefix pr-3"></i>
                                <label for="id_remark" class="control-label pl-3">Remark</label>

						        {{ patienttransferform.remark }}

                           </div>
						</div>

                    	<div class="col-md-3 ">
						 <button class="btn btn-rounded modalbtn" type="submit">Transfer</button>

						</div>
								
				</div>

	

				

				
				
				
				
                       </form>
            </div>
                </div></div></div>
				
		<div class="row mt-5">		
			<div class="col-md-12">
      <div class="card" style="margin-top: 20px">

             <div class="container" style="margin-top: 20px">

            <div class="row">
                <div class="col-md-12">


				 <div class="table-wrapper">
				 <p class="h5 flex-center orange-text">Previous Transfers</p>

            <!--Table-->
            <table id="factorytable" class="table table-hover table-responsive-sm table-sm btn-table m-0">
			
			

                <!--Table head-->
                <thead>

                            <tr>
								<th class="th-sm">Patient</th>
								<th class="th-sm">Partner</th>
								<th class="th-sm">Status</th>
                                <th class="th-sm">Date</th>
                                <th></th>

                            </tr>

                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                     {% for pat_trans in patient_transfers %}

                        <tr>
								<td>{{ pat_trans.patient }} </td>
                                <td>{{ pat_trans.partner }} </td>
                                <td>{{ pat_trans.status }} </td>
								<td>{{ pat_trans.created_at }}</td>

                                  <td>
                                <div class="btn-group">
                                    <a href=""><i class="fa fa-eye ml-2  text-info" data-toggle="tooltip" title="View Details"></i></a>
                                </div>
								<div class="btn-group">
                                    <a href=""><i class="fa fa-pencil ml-2 text-success" data-toggle="tooltip" title="Edit"></i></a>
                                </div>
								<div class="btn-group">
                                    <a href=""><i class="fa fa-trash ml-2  text-danger" data-toggle="tooltip" title="Delete"></i></a>
                                </div>
								</td>

                        </tr>
                     {% endfor %}
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

        



                </div>
            </div>
               
             </div>
        </div></div></div>
		

    </div>
    </div>
{% endblock %}
