{% extends 'dashboardbase.html' %}

        {% block title %}New BP{% endblock %}

        {% block content %}
            {% load static %}


    <div class="container-fluid">



	<div class="container">
	  <div class="row">
		<div class="col-md-12">
         <div class="card">
            <div class="container" style="margin-top: 20px">
                   <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
			<div class="row">
                <div class="col-md-6 offset-md-4">
   <div class="chip modalbtn lighten-4"><b>#</b>
    {{ user.unique_id }}
   </div>
  <div class="chip">
     <a href="{% url 'core:user-detail' pk=user.id %}" class="gray-text">
	 <img src="{{ user.picture.url }}" alt="Contact Person"> {{ user.first_name }} {{ user.surname }}
	 </a>
 </div>
                </div>
			</div>
            <label class="h4 title text-uppercase flex-center mt-5 mb-2">Full Blood Count</label>
			<br><br>

				<div class="form-row">
				     <div class="col-md-4 offset-md-2 py-2">
                           <div class="md-form form-group">
                                <label for="id_red_blood_cell" class="control-label">Red Blood Cell</label>

						        {{ userfullbloodcount.red_blood_cell }}

                           </div>
                                </div>
								
					  

						 <div class="col-sm-4 py-2">
							<p for="id_fbc_red_blood_range">Red Blood Cell Count : <span>
							
							{{ userfullbloodcount.fbc_red_blood_range }}
							</span>
							</p>
						</div>				
								
				</div>
				
				<div class="form-row">
				     <div class="col-md-4 offset-md-2 py-2">
                           <div class="md-form form-group">
                                <label for="id_hemoglobin" class="control-label">Haemoglobin</label>

						        {{ userfullbloodcount.hemoglobin }}

                           </div>
                                </div>
								
					  

						 <div class="col-sm-4 py-2">
							<p for="id_fbc_hemoglobin_range">Haemoglobin Count : <span>
							
							{{ userfullbloodcount.fbc_hemoglobin_range }}
							</span>
							</p>
						</div>				
								
				</div>
				
				<div class="form-row">
				     <div class="col-md-4 offset-md-2 py-2">
                           <div class="md-form form-group">
                                <label for="id_hematocrit" class="control-label">Haematocrit</label>

						        {{ userfullbloodcount.hematocrit }}

                           </div>
                                </div>
								
					  

						 <div class="col-sm-4 py-2">
							<p for="id_fbc_hematocrit_range">Haematocrit Count : <span>
							
							{{ userfullbloodcount.fbc_hematocrit_range }}
							</span>
							</p>
						</div>				
								
				</div>
				
				<div class="form-row">
				     <div class="col-md-4 offset-md-2 py-2">
                           <div class="md-form form-group">
                                <label for="id_white_blood_cell" class="control-label">White Blood Cell</label>

						        {{ userfullbloodcount.white_blood_cell }}

                           </div>
                                </div>
								
					  

						 <div class="col-sm-4 py-2">
							<p for="id_fbc_white_blood_range">White Blood Cell Count : <span>
							
							{{ userfullbloodcount.fbc_white_blood_range }}
							</span>
							</p>
						</div>				
								
				</div>
				
				<div class="form-row">
				     <div class="col-md-4 offset-md-2 py-2">
                           <div class="md-form form-group">
                                <label for="id_platelet" class="control-label">Platelet</label>

						        {{ userfullbloodcount.platelet }}

                           </div>
                                </div>
								
					  

						 <div class="col-sm-4 py-2">
							<p for="id_fbc_platelet_count_range">Platelet Count : <span>
							
							{{ userfullbloodcount.fbc_platelet_count_range }}
							</span>
							</p>
						</div>

							
				</div>
				
				<div class="form-row">
						<div class="col-md-4 offset-md-2 py-2">
                           <div class="md-form form-group">
                                <label for="id_neutrophil" class="control-label">Neutrophil</label>

						        {{ userfullbloodcount.neutrophil }}

                           </div>
                         </div>
					  

						<div class="col-sm-4 py-2">
							<p for="id_fbc_neutrophil_count_range">Neutrophil Count : <span>
							
							{{ userfullbloodcount.fbc_neutrophil_count_range }}
							</span>
							</p>
						</div>
			
								
				</div>
				
				<div class="form-row">
						<div class="col-md-4 offset-md-2 py-2">
                           <div class="md-form form-group">
                                <label for="id_lymphocyte" class="control-label">Lymphocyte</label>

						        {{ userfullbloodcount.lymphocyte }}

                           </div>
                         </div>
					  

						 <div class="col-sm-4 py-2">
							<p for="id_fbc_lymphocyte_count_range">Lymphocyte Count : <span>
							
							{{ userfullbloodcount.fbc_lymphocyte_count_range }}
							</span>
							</p>
						</div>			
								
				</div>
				
				
				<div class="form-row">
						<div class="col-md-4 offset-md-2 py-2">
                           <div class="md-form form-group">
                                <label for="id_full_blood_count_date" class="control-label">Current Test Date</label>

						        {{ userfullbloodcount.full_blood_count_date }}

                           </div>
                         </div>
					  

						 <div class="col-sm-4 py-2">
							<div class="md-form form-group">
                                <label for="id_next_full_blood_count_date" class="control-label">Next Test Date</label>

						        {{ userfullbloodcount.next_full_blood_count_date }}

                           </div>
						</div>				
								
				</div>
				
	<div class="form-row pic-row mt-4">
          <div class="card pic-card col-md-4 col-sm-6 col-xs-8 offset-sm-4">

			  <p class="h4 text-center grey-text text-uppercase pt-2">upload test scan</p><br>
			   <div class="row d-flex justify-content-center">
			  <div class="file-field">
        <div class="mb-4" align="center">
       <img id="imgId" src="{% static 'images/scan-avatar.jpg' %} " style="height:150px;width:150px;border-radius:10px;">
        </div>
        <div class="d-flex justify-content-center">
            <div class="btn btn-mdb-color btn-rounded float-left">
                <span>Add Test Scan</span>
                <input name="fbc_image_scan" id="id_fbc_image_scan" type="file" onchange="document.getElementById('imgId').src = window.URL.createObjectURL(this.files[0])">
            </div>
        </div>
		</div>
         </div>

           </div>
    </div><br><br>
	
	
			<div class="form-row">
						<div class="col-md-8 offset-md-2 py-2">
                           <div class="md-form shadow-textarea form-group">
							<i class="fa fa-pencil prefix pr-3"></i>
                                <label for="id_docs_comments" class="control-label pl-3">Doctor's Comments</label>

						        {{ userfullbloodcount.docs_comments }}

                           </div>
                        </div>


						 
			</div>
				
				
				
				
				<div class="col-md-3 offset-md-5 mb-3">

                        <button class="btn btn-rounded modalbtn" type="submit">Add Blood Count</button>
                </div>
				
				
				
				
				
                       </form>
            </div>
                </div></div></div>
				
		<div class="row mt-5">		
			<div class="col-md-12">
      <div class="card" style="margin-top: 20px">

             <div class="container" style="margin-top: 20px">

            <div class="row">
                <div class="col-md-12">


				 <div class="table-wrapper">
				 <p class="h5 flex-center orange-text">Full Blood Count</p>
					<!-- {% for fbc in fullcounts %}
					<p class="flex-center orange-text h6">{{ fbc.next_full_blood_count_date }}</p> 
							{% endfor %} -->
            <!--Table-->
            <table id="factorytable" class="table table-hover table-responsive-sm table-sm btn-table m-0">
			
			

                <!--Table head-->
                <thead>

                            <tr>
								<th class="th-sm">Red Blood Cell</th>
								<th class="th-sm">Haemoglobin</th>
								<th class="th-sm">Haematocrit</th>
                                <th class="th-sm">White Blood Count</th>
								<th class="th-sm">Test Date</th>
								<th class="th-sm"></th>
                            </tr>

                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                     {% for fbc in fullcounts %}

                        <tr>
								<td>{{ fbc.red_blood_cell }} trillion/L</td>
                                <td>{{ fbc.hemoglobin }} g/dL</td>
                                <td>{{ fbc.hematocrit }} %</td>
								<td>{{ fbc.white_blood_cell }} billion/L</td>
								<td>{{ fbc.full_blood_count_date }}</td>
                                  <td>
                                <div class="btn-group">
                                    <a href=""><i class="fa fa-eye ml-2  text-info" data-toggle="tooltip" title="View Details"></i></a>
                                </div>
								<div class="btn-group">
                                    <a href=""><i class="fa fa-pencil ml-2 text-success" data-toggle="tooltip" title="Edit"></i></a>
                                </div>
								<div class="btn-group">
                                    <a href=""><i class="fa fa-trash ml-2  text-danger" data-toggle="tooltip" title="Delete"></i></a>
                                </div>
								</td>

                        </tr>
                     {% endfor %}
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

        



                </div>
            </div>
               
             </div>
        </div></div></div>
		
		
		
		
    </div>
    </div>
{% endblock %}
