{% extends 'dashboardbase.html' %}

        {% block title %}New BP{% endblock %}

        {% block content %}
            {% load static %}


    <div class="container-fluid">



	<div class="container">
         <div class="card">
            <div class="container" style="margin-top: 20px">
                   <form method="post">
                        {% csrf_token %}
			<div class="row">
                <div class="col-md-4 offset-md-4">
   <div class="chip modalbtn lighten-4"><b>#</b>
    {{ user.unique_id }}
   </div>            
  <div class="chip">
     <a href="{% url 'core:user-detail' pk=user.id %}" class="gray-text">
	 <img src="{{ user.picture.url }}" alt="Contact Person"> {{ user.first_name }} {{ user.surname }}
	 </a>
 </div>
                </div>
			</div>
            <div class="row">
                 <div class="col-md-3">

                    <div class="md-form form-group">
						   							<label for="id_height" class="control-label">Systolic</label>
						   							{{  }}
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="md-form form-group">
						   							<label for="id_weight" class="control-label">Diastolic</label>
						   							{{  }}
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="md-form form-group">
						   							<label for="id_bmi" class="control-label">Blood Pressure</label>
						   							{{  }}
                    </div>
                </div>

                <div class="col-md-2">

                        <button class="btn btn-primary" type="submit">Add Blood Pressure</button>
                </div>



                </div>
                       </form>
            </div>
                </div>

      <div class="card" style="margin-top: 20px">

             <div class="container" style="margin-top: 20px">

            <div class="row">
                <div class="col-md-12">



                     <div class="table-wrapper">
            <!--Table-->
            <table id="factorytable" class="table table-hover mb-0">

                <!--Table head-->
                <thead>

                            <tr>

                                <th class="th-lg">Systolic</th>
								<th class="th-lg">Diastolic</th>
                                <th class="th-lg">Blood Pressure</th>
                                 <th class="th-lg"></th>
                            </tr>

                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                     {% for %}

                        <tr>

                                <td>{{  }}</td>
                                 <td>{{ }}</td>
                                <td>{{  }}</td>
                                 <td>
                                <div class="btn-group">
                                    <a href=""><button type="button" class="btn btn-rounded modalbtn">Remove<i class="fa fa-trash ml-2"></i></button></a>
                                </div>
                                </td>

                        </tr>
                     {% endfor %}
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>



                </div>
            </div>
               <div class="row">
                <div class="col-md-12">

                </div>
            </div>
             </div>
        </div>
    </div>
    </div>
{% endblock %}				