{% extends 'dashboardbase.html' %}

        {% block title %}New BP{% endblock %}

        {% block content %}
            {% load static %}


    <div class="container-fluid">



	<div class="container">
	 <div class="row">
		<div class="col-md-12">
         <div class="card">
            <div class="container" style="margin-top: 10px">
                   <form method="post">
                        {% csrf_token %}
			<div class="row">
                <div class="col-md-6 offset-md-4">
   <div class="chip modalbtn lighten-4"><b>#</b>
    {{ user.unique_id }}
   </div>            
  <div class="chip">
     <a href="{% url 'core:user-detail' pk=user.id %}" class="gray-text">
	 <img src="{{ user.picture.url }}" alt="Contact Person"> {{ user.first_name }} {{ user.surname }}
	 </a>
 </div>
                </div>
			</div>
			
			<label class="h4 title text-uppercase flex-center mt-5 mb-2">blood pressure</label>
			
			
			<div class="form-row">
				     <div class="col-md-4 py-2">
                           <div class="md-form form-group">
                                <label for="id_systolic" class="control-label">Blood pressure (Systolic)</label>
						   							{{ userbpressureform.systolic }}

                           </div>
                                </div>
								
					  <div class="col-md-4 py-2">
                           <div class="md-form form-group">
                                <label for="id_diastolic" class="control-label">Blood pressure (Diastolic)</label>
						   							{{ userbpressureform.diastolic }}

                           </div>
                                </div>			



						 <div class="col-sm-4 py-2">
							 <p>BP : <span>
								<input type="text" class="form-control" id="ybp" name="ybp" placeholder="" disabled>
							</span>
							</p>
						</div>

			</div>
			
			<div class="col-md-3 offset-md-5 mb-3">

                        <button class="btn btn-rounded modalbtn" type="submit">Add BP</button>
                </div>
				
				
            



                </div>
                       </form>
            </div></div></div>
               
		 <div class="row">
		<div class="col-md-12">
      <div class="card" style="margin-top: 20px">

             <div class="container" style="margin-top: 20px">

            <div class="row">
                <div class="col-md-12">



                     <div class="table-wrapper">
            <!--Table-->
            <table id="factorytable" class="table table-hover table-responsive-sm table-sm btn-table m-0">

                <!--Table head-->
                <thead>

                            <tr>

                                <th class="th-lg">Systolic</th>
								<th class="th-lg">Diastolic</th>
                                <th class="th-lg">Blood Pressure</th>
                                 <th class="th-lg"></th>
                            </tr>

                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                     {% for bp in bpressure %}

                        <tr>

                                <td>{{ bp.systolic }}</td>
                                 <td>{{ bp.diastolic }}</td>
                                <td>{{ bp.systolic }}/{{ bp.diastolic }} mmHg</td>
                                  <td>
                                <div class="btn-group">
                                    <a href=""><i class="fa fa-eye ml-2  text-info" data-toggle="tooltip" title="View Details"></i></a>
                                </div>
								<div class="btn-group">
                                    <a href=""><i class="fa fa-pencil ml-2 text-success" data-toggle="tooltip" title="Edit"></i></a>
                                </div>
								<div class="btn-group">
                                    <a href=""><i class="fa fa-trash ml-2  text-danger" data-toggle="tooltip" title="Delete"></i></a>
                                </div>
								</td>

                        </tr>
                     {% endfor %}
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>



                </div>
            </div>
               <div class="row">
                <div class="col-md-12">

                </div>
            </div>
             </div>
        </div></div></div>
    </div>
    </div>
{% endblock %}				
